{{ $open5gsName := .Release.Name }}

logger:
  level: {{ .Values.config.logLevel }}
#  level: info   # fatal|error|warn|info(default)|debug|trace

global:
# max:
#   ue: 1024  # The number of UE can be increased depending on memory size.
#    peer: 64

upf:
  pfcp:
    server:
    - dev: eth0
    client:
  gtpu:
    server:
    - dev: {{ default "eth0" .Values.config.upf.gtpu.dev }}
  session:
    {{- range .Values.config.subnetList }}
    - {{- omit . "createDev" "enableNAT" | toYaml | nindent 6 }}
    {{- end }}
  {{- if .Values.metrics.enabled }}
  metrics:
    server:
    - dev: eth0
      port: 9090
  {{- end }}

################################################################################
# PFCP Server
################################################################################
# o Override PFCP address to be advertised to SMF in PFCP association
#  pfcp:
#    server:
#      - dev: eth0
#        advertise: open5gs-upf.svc.local
#
################################################################################
# GTP-U Server
################################################################################
#  o Override SGW-U GTP-U address to be advertised inside S1AP messages 
#  gtpu:
#    server:
#      - dev: ens3
#        advertise: upf1.5gc.mnc001.mcc001.3gppnetwork.org
#
#  o User Plane IP Resource information
#  gtpu:
#    server:
#      - address:
#        - 127.0.0.7
#        - ::1
#        teid_range_indication: 4
#        teid_range: 10
#        network_instance: internet
#        source_interface: 0
#      - address: 127.0.10.4
#        teid_range_indication: 4
#        teid_range: 5
#        network_instance: ims
#        source_interface: 1
#
################################################################################
# 3GPP Specification
################################################################################
#
#  o Specific DNN/APN(e.g 'ims') uses 10.46.0.1/16, 2001:db8:babe::1/48
#  $ sudo ip addr add 10.45.0.1/16 dev ogstun
#  $ sudo ip addr add 2001:db8:cafe::1/48 dev ogstun2
#  $ sudo ip addr add 10.46.0.1/16 dev ogstun3
#  $ sudo ip addr add 2001:db8:babe::1/48 dev ogstun3
#
#  session:
#    - subnet: 10.45.0.1/16
#      dnn: internet
#    - subnet: 2001:db8:cafe::1/48
#      dnn: internet
#      dev: ogstun2
#    - subnet: 10.46.0.1/16
#      dnn: ims
#      dev: ogstun3
#    - subnet: 2001:db8:babe::1/48
#      dnn: ims
#      dev: ogstun3