dbURI: "mongodb://{{ .Release.Name }}-mongodb/open5gs"

populate:
  enabled: true
  image:
    registry: docker.io
    repository: openverso/open5gs-dbctl
    tag: 0.10.2
    pullPolicy: IfNotPresent
  initCommands: []
  # example of initCommands:
  #  - open5gs-dbctl add 999700000000001 465B5CE8B199B49FAA5F0A2EE238A6BC E8ED289DEBA952E4283B54E88E6183CA
  #  - open5gs-dbctl add_ue_with_apn 999700000000002 465B5CE8B199B49FAA5F0A2EE238A6BC E8ED289DEBA952E4283B54E88E6183CA internet
  #  - open5gs-dbctl add_ue_with_slice 999700000000003 465B5CE8B199B49FAA5F0A2EE238A6BC E8ED289DEBA952E4283B54E88E6183CA internet 1 111111

# Common
mongodb:
  enabled: true
  auth:
    enabled: false
smf:
  enabled: true
  config:
    scp:
      enabled: true
upf:
  enabled: true
webui:
  enabled: true

# 4G
hss:
  enabled: true
  mongodb:
    enabled: false
mme:
  enabled: true
pcrf:
  enabled: true
  mongodb:
    enabled: false
sgwc:
  enabled: true
sgwu:
  enabled: true

# 5G
amf:
  enabled: true
  config:
    scp:
      enabled: true
    guamiList:
      - plmn_id:
          mcc: "999"
          mnc: "70"
        amf_id:
          region: 2
          set: 1
    taiList:
      - plmn_id:
          mcc: "999"
          mnc: "70"
        tac: [1]
    plmnList:
      - plmn_id:
          mcc: "999"
          mnc: "70"
        s_nssai:
          - sst: 1
            sd: "0x111111"
ausf:
  enabled: true
  config:
    scp:
      enabled: true
bsf:
  enabled: true
  config:
    scp:
      enabled: true
nrf:
  enabled: true
  config:
    scp:
      enabled: true
nssf:
  enabled: true
  config:
    scp:
      enabled: true
    nsiList:
      - nrf:
          hostname: ""  # if empty default is autogenerated open5gs svc fullname
          port: 7777
        sst: 1
        sd: "0x111111"
pcf:
  enabled: true
  config:
    scp:
      enabled: true
  mongodb:
    enabled: false
udm:
  enabled: true
  config:
    scp:
      enabled: true
udr:
  enabled: true
  config:
    scp:
      enabled: true
  mongodb:
    enabled: false
scp:
  enabled: true
  mongodb:
    enabled: false

populate:
  enabled: true
  initCommands:
  - open5gs-dbctl add_ue_with_slice 999700000000001 465B5CE8B199B49FAA5F0A2EE238A6BC E8ED289DEBA952E4283B54E88E6183CA internet 1 111111
  - open5gs-dbctl add_ue_with_slice 999700000000002 465B5CE8B199B49FAA5F0A2EE238A6BC E8ED289DEBA952E4283B54E88E6183CA internet 1 111111