# Default values for opentsdb
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# image - The base opentsdb image to use for all components.
# for default see https://github.com/Gradiant/dockerized-opentsdb
image:
  registry: docker.io
  repository: openverso/open5gs
  tag: 2.2.3
  ## Specify a imagePullPolicy
  ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
  ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
  pullPolicy: IfNotPresent
  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ##
  # pullSecrets: []


# imageCredentials:
#  registry:
#  username:
#  password:
#  email:

webui:
  image:
    registry: docker.io
    repository: openverso/open5gs-webui
    tag: 2.2.3
    ## Specify a imagePullPolicy
    ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
    ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
    ##
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ##
    # pullSecrets: []
  resources: {}
  ingress:

    ## Set to true to enable ingress record generation
    ##
    enabled: true

    ## Set this to true in order to add the corresponding annotations for cert-manager
    ##
    certManager: false

    ## Ingress Path type
    ##
    pathType: ImplementationSpecific

    ## When the ingress is enabled, a host pointing to this will be created
    ##
    hostname: open5gs.ingress.openverso.org

    ## The Path to open5gs webui. You may need to set this to '/*' in order to use this
    ## with ALB ingress controllers.
    ##
    path: /

    ## Ingress annotations done as key:value pairs
    ## For a full list of possible ingress annotations, please see
    ## ref: https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md
    ##
    ## If certManager is set to true, annotation kubernetes.io/tls-acme: "true" will automatically be set
    ##
    annotations: {}
    ## Enable TLS configuration for the hostname defined at ingress.hostname parameter
    ## TLS certificates will be retrieved from a TLS secret with name: {{- printf "%s-tls" .Values.webui.ingress.hostname }}
    ## You can use the ingress.secrets parameter to create this TLS secret or relay on cert-manager to create it
    ##
    tls: false

hss:
  resources: {}
  ### For reference, see `open5gs.yaml`
  logger:
    level: info
    # domain: core,diameter

mme:
  resources: {}
  logger:
    level: info
  parameter: {}
  mcc: "901"
  mnc: "70"
  tac: "0001"

sgwc:
  resources: {}
  logger:
    level: info
    # domain: core,diameter
  parameter:
    no_ipv6: true
  max: {}
  pool: {}

sgwu:
  resources: {}
  logger:
    level: info
    # domain: core,diameter
  parameter:
    no_ipv6: true
  max: {}
  pool: {}

amf:
  resources: {}
  logger:
    level: info
  parameter: {}
  mcc: "901"
  mnc: "70"
  tac: "0001"
  sst: "1"
  region: "2"
  set: "1"

smf:
  resources: {}
  logger:
    level: info
  parameter: {}
  pdn:
    addr: 10.45.0.1/16

upf:
  resources: {}
  logger:
    level: info
  parameter: {}
  pdn:
    addr: 10.45.0.1/16

nrf:
  resources: {}
  logger:
    level: info
  parameter: {}

udr:
  resources: {}
  logger:
    level: info
  parameter: {}

udm:
  resources: {}
  logger:
    level: info
  parameter: {}

ausf:
  resources: {}
  logger:
    level: info
  parameter: {}

nssf:
  resources: {}
  logger:
    level: info
  parameter: {}

pcf:
  resources: {}
  logger:
    level: info
  parameter: {}

pcrf:
  resources: {}
  logger:
    level: info
    # domain: core,diameter
  parameter:


# db_uri: -- default is "{{.Release.Name}}-mongodb/open5gs"

# mongodb -- pass vars towards mongodb chart, from dependencies
mongodb:
  # mongodb.enabled -- set to 'false' to disable automatically deploying dependent charts
  enabled: true
  auth:
    enabled: false

securityPolicy:
  enabled: false
