# Default values for opentsdb
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# image - The base opentsdb image to use for all components.
# for default see https://github.com/Gradiant/dockerized-opentsdb
image:
  registry: docker.io
  repository: openverso/open5gs
  tag: 2.4.4
  ## Specify a imagePullPolicy
  ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
  ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
  pullPolicy: IfNotPresent
  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ##
  # pullSecrets: []


# imageCredentials:
#  registry:
#  username:
#  password:
#  email:


webui:
  image:
    registry: docker.io
    repository: openverso/open5gs-webui
    tag: 2.3.3
    ## Specify a imagePullPolicy
    ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
    ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
    ##
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ##
    # pullSecrets: []
  enabled: true
  resources: {}
  ingress:

    ## Set to true to enable ingress record generation
    ##
    enabled: true

    ## Set this to true in order to add the corresponding annotations for cert-manager
    ##
    certManager: false

    ## Ingress Path type
    ##
    pathType: ImplementationSpecific

    ## When the ingress is enabled, a host pointing to this will be created
    ## If empty, defaults to .Release.Name-.Release.Namespace.ingress.lab5g.gradiant.org
    hostname:

    ## The Path to open5gs webui. You may need to set this to '/*' in order to use this
    ## with ALB ingress controllers.
    ##
    path: /

    ## Ingress annotations done as key:value pairs
    ## For a full list of possible ingress annotations, please see
    ## ref: https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md
    ##
    ## If certManager is set to true, annotation kubernetes.io/tls-acme: "true" will automatically be set
    ##
    annotations: {}
    ## Enable TLS configuration for the hostname defined at ingress.hostname parameter
    ## TLS certificates will be retrieved from a TLS secret with name: {{- printf "%s-tls" .Values.webui.ingress.hostname }}
    ## You can use the ingress.secrets parameter to create this TLS secret or relay on cert-manager to create it
    ##
    tls: false

hss:
  enabled: true
  resources: {}
  ### For reference, see `open5gs.yaml`
  logger:
    level: info
    # domain: core,diameter

mme:
  enabled: true
  resources: {}
  logger:
    level: info
  parameter: {}
  gummei:
    plmn_id:
      mcc: 999
      mnc: 70
    mme_gid: 2
    mme_code: 1
  tai:
    plmn_id:
      mcc: 999
      mnc: 70
    tac: 1

  externalService:
    enabled: false
    type: LoadBalancer
    ## @param service.loadBalancerSourceRanges Restricts access for LoadBalancer (only with `service.type: LoadBalancer`)
    ## e.g:
    ## loadBalancerSourceRanges:
    ##   - 0.0.0.0/0
    ##
    loadBalancerSourceRanges: []
    ## @param service.loadBalancerIP loadBalancerIP for the MME Service (optional, cloud specific)
    ## ref: http://kubernetes.io/docs/user-guide/services/#type-loadbalancer
    loadBalancerIP:
    # external advertise name or IP
    # Due to the implementation ofLoadBalancer, the source IP seen in the target container
    # is not the original source IP of the client with default "Cluster" policy.
    # To enable preservation of the client IP set this to "Local".
    externalTrafficPolicy: Local


sgwc:
  enabled: true
  resources: {}
  logger:
    level: info
    # domain: core,diameter
  parameter:
    no_ipv6: true
  max: {}
  pool: {}

sgwu:
  enabled: true
  resources: {}
  logger:
    level: info
    # domain: core,diameter
  parameter:
    no_ipv6: true
  max: {}
  pool: {}
  externalService:
    enabled: false
    # set domain or ip accessible from enodeb.
    # If not set, it is automagically set to SVC_NAME.NAMESPACE.advertiseDomain
    # advertise: "sgwu.lab5g.gradiant.org"
    advertiseDomain: "ext.lab5g.gradiant.org"
    type: LoadBalancer
    ## @param service.loadBalancerSourceRanges Restricts access for LoadBalancer (only with `service.type: LoadBalancer`)
    ## e.g:
    ## loadBalancerSourceRanges:
    ##   - 0.0.0.0/0
    ##
    loadBalancerSourceRanges: []
    ## @param service.loadBalancerIP loadBalancerIP for the SGWU Service (optional, cloud specific)
    ## ref: http://kubernetes.io/docs/user-guide/services/#type-loadbalancer
    loadBalancerIP:
    # external advertise name or IP
    # Due to the implementation ofLoaBalancer, the source IP seen in the target container
    # is not the original source IP of the client with default "Cluster" policy.
    # To enable preservation of the client IP set this to "Local".
    externalTrafficPolicy: Local

amf:
  enabled: true
  resources: {}
  logger:
    level: info
  parameter: {}
  guami:
  - plmn_id:
      mcc: 999
      mnc: 70
    amf_id:
      region: 2
      set: 1
  tai:
  - plmn_id:
      mcc: 999
      mnc: 70
    tac: 1
  plmn_support:
  - plmn_id:
      mcc: 999
      mnc: 70
    s_nssai:
      - sst: "1"
        sd: "ffffff"
  externalService:
    enabled: false
    advertiseDomain: "ext.lab5g.gradiant.org"
    type: LoadBalancer
    ## @param service.loadBalancerSourceRanges Restricts access for LoadBalancer (only with `service.type: LoadBalancer`)
    ## e.g:
    ## loadBalancerSourceRanges:
    ##   - 0.0.0.0/0
    ##
    loadBalancerSourceRanges: []
    ## @param service.loadBalancerIP loadBalancerIP for the MME Service (optional, cloud specific)
    ## ref: http://kubernetes.io/docs/user-guide/services/#type-loadbalancer
    loadBalancerIP:
    # external advertise name or IP
    # Due to the implementation ofLoadBalancer, the source IP seen in the target container
    # is not the original source IP of the client with default "Cluster" policy.
    # To enable preservation of the client IP set this to "Local".
    externalTrafficPolicy: Local

smf:
  enabled: true
  resources: {}
  logger:
    level: info
  parameter: {}
  pdn:
    addr: 10.45.0.1/16

upf:
  enabled: true
  resources: {}
  logger:
    level: info
  parameter: {}
  podAnnotations: {}
  dev: eth0
  pdn:
    addr: 10.45.0.1/16
  externalService:
    enabled: false
    # set domain or ip accessible from enodeb.
    # If not set, it is automagically set to SVC_NAME-ext.NAMESPACE.advertiseDomain
    # advertise: "upf.lab5g.gradiant.org"
    advertiseDomain: "ext.lab5g.gradiant.org"
    type: LoadBalancer
    ## @param service.loadBalancerSourceRanges Restricts access for LoadBalancer (only with `service.type: LoadBalancer`)
    ## e.g:
    ## loadBalancerSourceRanges:
    ##   - 0.0.0.0/0
    ##
    loadBalancerSourceRanges: []
    ## @param service.loadBalancerIP loadBalancerIP for the SGWU Service (optional, cloud specific)
    ## ref: http://kubernetes.io/docs/user-guide/services/#type-loadbalancer
    loadBalancerIP:
    # external advertise name or IP
    # Due to the implementation ofLoaBalancer, the source IP seen in the target container
    # is not the original source IP of the client with default "Cluster" policy.
    # To enable preservation of the client IP set this to "Local".
    externalTrafficPolicy: Local

nrf:
  enabled: true
  resources: {}
  logger:
    level: info
  parameter: {}

udr:
  enabled: true
  resources: {}
  logger:
    level: info
  parameter: {}

udm:
  enabled: true
  resources: {}
  logger:
    level: info
  parameter: {}

ausf:
  enabled: true
  resources: {}
  logger:
    level: info
  parameter: {}

nssf:
  enabled: true
  resources: {}
  logger:
    level: info
  parameter: {}
  nsi:
  - sst: "1"
    sd: "ffffff"

bsf:
  enabled: true
  resources: {}
  logger:
    level: info
  parameter: {}

pcf:
  enabled: true
  resources: {}
  logger:
    level: info
  parameter: {}

pcrf:
  enabled: true
  resources: {}
  logger:
    level: info
    # domain: core,diameter
  parameter:


# db_uri: -- default is "{{.Release.Name}}-mongodb/open5gs"

# mongodb -- pass vars towards mongodb chart, from dependencies
mongodb:
  # mongodb.enabled -- set to 'false' to disable automatically deploying dependent charts
  enabled: true
  auth:
    enabled: false

securityPolicy:
  enabled: false
