name: Lint and Test Charts

on: 
  pull_request:
    branches:
      - master

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - name: Set up helm dep repositories
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add openverso https://gradiant.github.io/openverso-charts
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint

      - name: Create kind cluster
        uses: helm/kind-action@v1.2.0
        if: steps.list-changed.outputs.changed == 'true'
      - name: Install metallb
        run: |
            kind_IP=$(docker network inspect -f '{{index (index .IPAM.Config 0) "Gateway" }}' kind)
            echo "Deploying metallb loadBalancer"
            kubectl --kubeconfig=$kind_kubeconfig apply -f https://raw.githubusercontent.com/metallb/metallb/v0.9.6/manifests/namespace.yaml
            kubectl --kubeconfig=$kind_kubeconfig apply -f https://raw.githubusercontent.com/metallb/metallb/v0.9.6/manifests/metallb.yaml
            echo "Deploy metallb configuration"
            cat <<EOF | kubectl apply --kubeconfig=$kind_kubeconfig -f -
            apiVersion: v1
            kind: ConfigMap
            metadata:
              namespace: metallb-system
              name: config
            data:
              config: |
                address-pools:
                - name: default
                  protocol: layer2
                  addresses:
                  - ${kind_IP}00-${kind_IP}20
            EOF
        if: steps.list-changed.outputs.changed == 'true'
      - name: Run chart-testing (install)
        run: ct install
